<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card mb-4">
                <img src="assets/images/services-1.jpg" class="card-img-top" alt="New Technology">
                <div class="card-body">
                    <h5 class="card-title">Нова технологија</h5>
                    <p class="card-text">Нова технологија во стоматологија</p>
                    <a href="/service-details" class="btn btn-primary">Повеќе</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card mb-4">
                <img src="assets/images/services-2.jpg" class="card-img-top" alt="Accept Insurance">
                <div class="card-body">
                    <h5 class="card-title">Работи со здраствено осигурување</h5>
                    <p class="card-text">Здраственото осигурување е задожително</p>
                    <a href="/service-details" class="btn btn-primary">Повеќе</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card mb-4">
                <img src="assets/images/services-3.jpg" class="card-img-top" alt="Certified Dentist">
                <div class="card-body">
                    <h5 class="card-title">Сертифицирана амбуланта</h5>
                    <p class="card-text">Поседуваме сертификат за стоматологија</p>
                    <a href="/service-details" class="btn btn-primary">Повеќе</a>
                </div>
            </div>
        </div>
    </div>
</div>
